/*====  RESET ============================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: circle;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  width: 100%;
}

body {
  font-family: sans-serif;
  margin: 10% 5%;

  background-image: linear-gradient(
    -225deg,
    #3d4e81 0%,
    #5753c9 48%,
    #6e7ff3 100%
  );
  color: whitesmoke;
}

h3 {
  color: #fbff00ea;
}

.barra {
  border: solid 1px rgb(49, 0, 95);
  margin: 1rem 0;
}

.section {
  margin-top: 3rem;
}

.border {
  margin-bottom: 1rem;
  margin-left: 1.5rem;

  padding-left: 1rem;
  padding-bottom: 1rem;

  border-left: 0.2rem solid;
  border-bottom: 0.2rem solid;

  width: 80vw;
}

/*====  HEADER ============================ */

#header {
  display: flex;
  align-items: center;
}

#header h2 {
  margin-top: 1rem;
}

.strong {
  color: #000000;
}

#image {
  width: 90px;
  height: 90px;
}

/*====  SOBRE ============================ */

#sobreLista {
  margin-top: 2rem;
  padding-left: 1.5rem;
}

#sobreLista li {
  margin-top: 1rem;
}

/*====  EXP ============================ */

.exp {
  margin-top: 2rem;
}

.info {
  padding-top: 1rem;
  padding-left: 1.5rem;
}

.link {
  word-break: break-all;
}
/*====  EDUCAÇÃO ============================ */

.institucion {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.institucionInfo {
  margin-top: 1rem;
  margin-bottom: 3rem;
  padding-left: 1.5rem;
}

/*====  CONTATS ============================ */
.contats {
  line-height: 2rem;
  display: flex;
  flex-direction: column;

  margin-top: 1.5rem;
  width: max-content;
}

.contats .contatLink {
  color: whitesmoke;
}

@media (min-width: 900px) {
  body {
    margin: 2rem;
  }

  #header {
    justify-content: space-around;
    margin-bottom: 5rem;
  }

  .section {
    margin-top: 5rem;
  }

  .info a:hover {
    margin-left: 1rem;
    color: #fbff00ea;
  }

  .contats a:hover {
    margin-left: 1rem;
    color: #fbff00ea;
  }
}
